# .env.example

# Flask Settings
FLASK_APP=app
FLASK_ENV=development
SECRET_KEY=your_secret_key

# Database Settings
DB_TYPE=sqlite
DB_NAME=your_database_name.db
DB_USER=your_username
DB_PASSWORD=your_password
DB_HOST=localhost
DB_PORT=5432

# Frontend Settings
FRONTEND_URL=http://localhost:3000